.mensaje {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}

.favoritos {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.favoritos h2 {
  margin-bottom: 10px;
}

.favoritos ul {
  list-style-type: none;
  padding: 0;
}

.favoritos li {
  margin-bottom: 8px;
  font-size: 16px;
}